
/* common styles */
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to top, rgba(255,0,0,0), yellow);
  font-family: Roboto;
}

button:hover {
  cursor: pointer;
  background-color: #73E831;
}

ul {
  list-style-type: none; /* get rid of bullet points on side of list items */
}

/* common style ends */

/* container */
.container {
  min-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

p{
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 3rem;
}

/* todo-form */

.todo-form {
  margin: 40px 0px;
}

.todo-input {
  width: 250px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 1rem;
}

.selcontainer{
  display:flex;
  justify-content: space-between;
}

.add-button {
  background-color: #ffae00;
  color: #333;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 7px;
  font-size: 1.2rem;
}

/* todo-form style ends */

/* todo-items */
.todo-items {
  min-width: 350px;
}

/* each li with class="item" */
.item {
  background-color: #fff;
  padding: 10px;
  font-size: 1.1rem;
}

.item:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.item:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* item style end */

.checkbox {
  margin-right: 10px;
}

.delete-button {
  float: right;
  background-color: #dc143c;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 2px 5px;
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: 550;
}

/* applied when the todo item is checked */
.checked { 
  text-decoration: line-through;
}

.selector{
  margin: 5px;
  padding:4px;
  background-color: Transparent;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.selected {
  border: 0.5px solid #333;
}

/* headidng1 {
  color: rgb(255, 166, 0);
} */

/* todo-items style ends */

/* container style ends */
